.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #9CF;
  background-color: #99CCFF22;
  border-radius: 2em;
  border: 2px solid #99CCFF00;
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.increment:hover {
  border: 2px solid #99CCFF99;
  background-color: #99CCFF44;
}

.increment:focus {
  border: 2px solid #9CF;
}

.increment:active {
  background-color: #99CCFF44;
}