.nav {
  display: flex;

  a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 0.9rem;
  }
}

.links {
  display: flex;
  gap: 0.75em;
}

.nav .active {
  text-decoration: underline;
}
